
/*test PLAYER */
.footer {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding:  0.5em 0em 0.5em 0em;
    height: auto;
    width: 100%;
    background-color: #282828;
  }
  
  .footer__right * .MuiSlider-root {
    color: green;
  }
  .footer__left {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 0.5em;
    width: 300px;
    flex: 0.3;
  }
  
  .footer__green {
    color: #1ed15e;
  }
  
  .footer__center {
    flex: 0.4;
    max-width: 300px;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__icon:hover,
  .footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
  }
  
  .footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
    padding-right: 0.8em;
  }
  
  .footer__albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
  }
  
  .footer__songInfo > h4 {
    margin-bottom: 5px;
    width: 200px; /*rajouté par CBE*/
    font-size: 19px;
    padding: 10px;
  }
  
  .footer__songInfo > p {
    font-size: 12px;
    width: 200px; /*rajouté par CBE*/
    padding-left: 10px;
  }
  


  /*PLAYER*/

  .player {
    display: flex;
    flex-direction: column;
  }
  
  .player__body {
    display: flex;
    flex-grow: 1;
  }


  /* LOgin */

.login > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1db954;
  }

.login {
    width: 100%;
    min-height: 80px;
    text-align: center;
    padding-top: 28px;
}

.show-spotify-controls {
  bottom: 0;
  position: fixed;
  float: right;
  background-color: #1dcc5d;
  color: white;
  border: none;
  padding: 7px;
  font-size: 11px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 1001;
}